body {
        margin: 0px !important;
}
.heading{
        background-color: black;
        color: white;
        padding: 20px;  
        position: relative;
}
.name {
        text-align: center;
}
.navigation-bar {
        padding: 10px;
        border: 1px solid #e5e5e5;
}
.navigation-link {
        text-decoration: unset;
        padding: 0px 10px;
        color: rgb(0,0,238);
}
.navigation-link:active {
        color: #212121;
}
.navigation-link:after {
        content : "|";
        padding-left: 10px;
}
.sub-heading {
        padding: 0px 40px;
    font-size: 20px;
    color: rgb(119, 0, 134);
}
.form {
        padding: 20px;
    height: fit-content;
    width: calc(100% - 150px);
    margin: 40px;
    box-shadow: 1px 2px 20px -3px #888888;
}
.form-heading {
        color: rgb(131, 0, 0);
}
.contact-form {
        width: 292px !important;
    height: 292px !important;
}
.contact-form {
        height: 100%;
    position: relative;
}
.button {
        position: absolute;
        bottom: 0px;
}